/* 全ページ共通スタイル */
body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

header {
  border-bottom: solid 1px gray;
}

#logo {
  width: 120px;
  margin: 20px auto 0;
}

#nav-pc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.menu-button {
  display: flex;
  gap: 15px;
}

.menu-button li{
  font-size: 13px;
}

main{
  margin: 50px auto 0;
}

#fv {
  display: flex;
  gap: 30px;
}

.main-message {
  flex: 1;
}

#item-name {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 15px 0;
}

#item-details {
  margin-top: 20px;
  width: 100%;
}

#price {
  margin-top:30px;
}

#order-list {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

.order-list_color,
.order-list_size {
  width: 20%;
  padding: 10px;
  text-align: center;
  border-bottom: solid 1px #ddd;
  border-right: solid 1px #ddd;
}

.order-list_tableheader {
  width: 60%;
  padding: 10px;
  text-align: center;
  border-bottom: solid 1px #ddd;
}

.list-cell_s,
.list-cell_m {
  padding: 10px;
  text-align: center;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

.list-cell_l {
  padding: 10px;
  text-align: center;
  border-right: solid 1px #ddd;
}

.list-cell_s_quantity,
.list-cell_m_quantity {
  padding: 10px;
  border-bottom: solid 1px #ddd;
}

.list-cell_l_quantity {
  padding: 10px;
}

.quantity {
  width: 100%;
  border: solid 1px #c3c3c3;
  padding: 0 10px;
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}

#addbutton {
  width: 100%;
  background-color:dimgray;
  text-align: center;
  color: #ffffff;
  padding: 15px 0;
  margin-top: 20px;
}

#table-size {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
}

.table-size_header,
.table-size_size,
.table-size {
  border: 1px solid #90908c;
  height: 40px;
}

.table-size_header {
  background-color: #e3e2e2;

}

.table-size_size {
  background-color: #e3e2e2;
}

footer {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  font-size: 12px;
}